:root {
    scroll-behavior: smooth;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Helvetica, sans-serif;
    font-weight: 400;
    background: #131619;
    color: #e8e9e9;
    line-height: 20px;
    letter-spacing: 0.5px;
    -ms-overflow-style: none;
    overflow-y: auto;
    scrollbar-width: none;
    scrollbar-color: #aab7cf transparent;
}


    body::-webkit-scrollbar {
        display: none;
    }


a {
    color: #4154f1;
    text-decoration: none;
}

    a:hover {
        color: #717ff5;
        text-decoration: none;
    }

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Helvetica Neue", Helvetica, sans-serif, Arial;
}

/*--------------------------------------------------------------
# Main
--------------------------------------------------------------*/
#main {
    padding: 12px 12px;
    transition: all 0.3s;
    overflow-y: auto;
    scrollbar-width: none;
    scrollbar-color: #aab7cf transparent;
}

/* .main {
  flex-grow: 1;
  padding: 15px;
  background-color: #131619;
  transition: margin-left 0.3s ease-in-out;
} */

@media (max-width: 1199px) {
    #main {
        padding: 20px;
    }
}

/*--------------------------------------------------------------
# Custom CSS for the Components
--------------------------------------------------------------*/

/* Hide the default Bootstrap chevron icon */
.accordion-button::after {
    display: none;
}

.star {
    font-size: 30px;
    color: #CCCCCC;
    cursor: pointer;
    transition: color 0.3s ease;
}

    .star:hover,
    .star.active {
        color: #FFD700;
    }
.tech-slideshow {
    position: relative;
    height: clamp(3em, 10vw, 6em);
    overflow: hidden;
}

.marquee-img {
    display: flex;
    position: absolute;
    left: 100%;
    animation: marquee-1 9s infinite linear;
}

    .marquee-img .card {
        height: auto;
        width: 100px;
        margin-right: 1em;
    }

@media (max-width: 768px) {
    .flex-shrink-0 {
        width: 69% !important;
        margin-left: -70px;
    }
}

@keyframes marquee-1 {
    0% {
        left: 100%;
    }

    100% {
        left: 0;
        transform: translateX(-100%);
    }
}

.tech-slideshow-2 {
    position: relative;
    height: clamp(3em, 10vw, 6em);
    overflow: hidden;
}

.marquee-img-2 {
    display: flex;
    position: absolute;
    width: max-content; /* Ensure the container's width adjusts to its content */
    animation: marquee-2 9s linear infinite; /* Smooth continuous animation */
}

    .marquee-img-2 .card {
        height: auto;
        width: 100px;
        margin-right: 1em;
    }

@keyframes marquee-2 {
    0% {
        transform: translateX(-100%); /* Start off-screen to the right */
    }

    100% {
        transform: translateX(100%); /* End off-screen to the left */
    }
}


.title-bar {
    height: 30rem;
    border-radius: 15px;
}

.background-overlay {
    background-color: black;
    border-radius: 15px;
    position: absolute;
    inset: 0;
    background: radial-gradient(ellipse at top right, rgb(182, 240, 156), transparent 40%), radial-gradient(ellipse farthest-corner at bottom left, rgba(77, 98, 229, 0.47), transparent 44%);
    z-index: 1;
}

.card-height {
    min-height: 228px;
}

.grid-overlay {
    position: absolute;
    border-radius: 15px;
    inset: 0;
    background-image: linear-gradient(transparent, transparent 95%, rgba(255, 255, 255, 0.08)), linear-gradient(90deg, transparent, transparent 95%, rgba(255, 255, 255, 0.06));
    background-size: 40px 40px;
    z-index: 2;
}

.content {
    position: relative;
    z-index: 3;
    text-align: center;
    /* Center-align text horizontally */
    max-width: 800px;
}


.main-heading {
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 1.5;
    color: #93fdf4;
}

.sub-heading {
    font-size: 1.2rem;
    margin-top: 15px;
    color: #bfbfbf;
}

.custom-input-group-text {
    background-color: #1c1f26;
    color: #ffffff;
    border: 1px solid #363a3d;
    border-radius: 8px 0 0 8px;
    padding: 12px;
    font-size: 16px;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
    display: flex;
    align-items: center;
    border-right: none;
}

.gradient-text {
    background: linear-gradient(90deg, #4D62E5 0%, #87DDEE 45%, #B6F09C 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Custom CSS for Accordion */
.code-editor {
    background-color: #222222;
}

code {
    background-color: #222222;
}

.btn-outline-secondary {
    background-color: #222222;
    color: white;
}

/* Common styles for all accordions */
.accordion-container {
    border-radius: 22px;
    border: 2px solid #1A1D21;
    background-color: #0D0F10;
}

.accordion-item {
    border: 0px !important;
}

#accordionDescription .accordion-item {
    background-color: #0D0F10;
    border: none;
}

#accordionDescription .accordion-header {
    background-color: #0D0F10;
    /* color: white; */
}

#accordionDescription .accordion-button {
    color: #FFFFFF;
    background-color: #0D0F10;
    border: 0px;
}

    #accordionDescription .accordion-button.collapsed {
        background-color: #0D0F10;
    }

#accordionDescription .accordion-collapse {
    background-color: #0D0F10;
}

#accordionDescription .accordion-body {
    color: #9B9C9E;
}

    #accordionDescription .accordion-body strong {
        color: #f8f9fa;
    }

#accordionDescription .accordion-button::before,
#accordionDescription .accordion-button::after {
    border-bottom: none;
    border: 0px;
}

#accordionReview .accordion-item {
    background-color: #0D0F10;
    border: none;
}

#accordionReview .accordion-header {
    background-color: #0D0F10;
    color: white;
}

#accordionReview .accordion-button {
    outline: 0;
    color: #FFFFFF;
    background-color: #0D0F10;
    border: none;
}

    #accordionReview .accordion-button.collapsed {
        outline: 0;
        background-color: #0D0F10;
    }

#accordionReview .accordion-collapse {
    outline: 0;
    background-color: #0D0F10;
}

#accordionReview .accordion-body {
    color: #9B9C9E;
}

    #accordionReview .accordion-body strong {
        color: #f8f9fa;
    }

#accordionReview .accordion-button::before,
#accordionReview .accordion-button::after {
    border-bottom: none;
    border: 0px;
}

.accordion-icon {
    transition: transform 0.3s ease;
}

.accordion-button[aria-expanded="true"] .accordion-icon {
    transform: rotate(180deg);
}

.accordion-button[aria-expanded="false"] .accordion-icon {
    transform: rotate(0deg);
}

#headingDescription .accordion-button::after {
    display: none;
    border: 0px;
}

#headingReview .accordion-button::after {
    display: none;
}

.resizable-div {
    overflow: hidden;
    resize: vertical;
    border: 1px solid #686B6E;
    padding: 0;
}

#hideThisDiv {
    transition: max-height 0.5s ease;
}

.input-field {
    width: 100%;
    margin-bottom: 16px;
}

    .input-field label {
        color: #ffffff;
        margin-bottom: 8px;
        font-weight: normal;
    }

.modal-body {
    padding: 20px;
    color: #9b9c9e;
}

.modal-header {
    border-bottom: none !important;
}

.modal-content {
    background-color: #1a1d21;
    border-radius: 16px;
    box-shadow: inset 0px 4px 8px rgba(255, 255, 255, 0.08);
    /* Inner shadow */
}

.input-field input,
.input-field textarea {
    width: 100%;
    background-color: #1c1f26;
    color: #ffffff;
    border: 1px solid #363a3d;
    border-radius: 8px;
    padding: 12px;
    font-size: 16px;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}

.input-field textarea {
    resize: none;
}

    .input-field input::placeholder,
    .input-field textarea::placeholder {
        color: #9b9c9e;
        font-size: 16px;
    }

.custom-input-field {
    /* width: min-content; */
    margin-bottom: 16px;
}

    .custom-input-field input,
    .custom-input-field textarea {
        /* width: min-content; */
        background-color: #1c1f26;
        color: #ffffff;
        border: 1px solid #363a3d;
        border-radius: 8px;
        padding: 12px;
        font-size: 16px;
        box-sizing: border-box;
        transition: all 0.3s ease-in-out;
    }

    .custom-input-field textarea {
        resize: none;
    }

.form-control:focus {
    outline: none;
    border-color: #000000;
    color: #FFFFFF;
    background-color: #1c1f26;
}

.custom-input-field input::placeholder,
.custom-input-field textarea::placeholder {
    color: #9b9c9e;
    font-size: 16px;
}

.save-btn {
    border-color: #0D0F10 !important;
    border-radius: 16px !important;
    appearance: none !important;
    outline: none !important;
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.1) !important;
    padding: 9px 14px !important;
}

.slider {
    width: 0px !important;
}

.custom-code-editor {
    width: 100%;
    height: 10rem;
    color: #9b9c9e;
    font-size: 16px;
    outline: none;
    border-color: #0c0f10;
    background-color: #0c0f10;
    overflow: hidden;
    overflow-y: auto;
    scrollbar-width: none;
    scrollbar-color: #aab7cf transparent;
    resize: none;
}


.custom-select-button {
    background-color: #1c1f26;
    color: #ffffff;
    border: 1px solid #363a3d;
    border-radius: 8px;
    padding: 12px;
    font-size: 16px;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}

/*.custom-lang-select-button {
    color: #686B6E;
    border-radius: 50px;
    padding: 10px;
    animation: dropdown-animate 0.2s both;
    background-color: #0D0F10;
    border: none;
    transition: box-shadow 0.2s ease, border-color 0.2s ease;
}

.custom-lang-select-button option{
    color: #686B6E;
    border-radius: 50px;
    padding: 10px;
    animation: dropdown-animate 0.2s both;
    background-color: #0D0F10;
    border: none;
    transition: box-shadow 0.2s ease, border-color 0.2s ease;
}*/


.dropdown-option:hover {
    border: 1px solid rgba(255, 255, 255, 0.26);
    border-radius: 8px;
    background: linear-gradient(90deg, rgba(27, 32, 32, 0.76) 0%, rgba(69, 74, 74, 0.38) 100%);
    color: #e8e9e9;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.icon-shadow {
    filter: drop-shadow(0 0 10px rgba(104, 107, 110, 1));
}

.icon-shadow-green {
    filter: drop-shadow(0 0 10px rgba(182, 240, 156, 1));
}

/* Gradient Button Styling */
.gradient-button {
    background: linear-gradient(115deg, rgba(215, 237, 237, 0.21) 0%, rgba(204, 235, 235, 0.03) 100%);
    padding: 11.8px 1.6rem;
    border-radius: 12px;
    margin-bottom: 8px;
    border: 1px solid rgba(255, 255, 255, 0.45);
    color: #E8E9E9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    width: fit-content;
    transition: background-color 0.3s ease-in-out;
    text-align: center;
    overflow: hidden;
}

    .gradient-button:hover,
    .gradient-button:focus {
        border: 1px solid rgba(255, 255, 255, 0.26);
        background: linear-gradient(90deg, rgba(27, 32, 32, 0.76) 0%, rgba(69, 74, 74, 0.38) 100%);
        transition: background-color 0.3s ease, color 0.3s ease;
    }

.gradient-component {
    background: linear-gradient(115deg, rgba(215, 237, 237, 0.21) 0%, rgba(204, 235, 235, 0.03) 100%);
    padding: 0.1rem 0.6rem;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.26);
    color: #9b9c9e;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    width: fit-content;
    transition: background-color 0.3s ease-in-out;
    text-align: center;
    overflow: hidden;
}

    .gradient-component span {
        z-index: 1;
    }

.gradient-dropdown {
    background-color: #d7eded;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    border-radius: 16px;
    padding: 0.5rem;
    color: #000;
    width: 100%;
}

/* Custom Dropdown Menu Styles */
.dropdown.open #transparent-mask {
    position: fixed;
    bottom: 5rem;
}

.dropdown-menu {
    width: 218px;
    border-radius: 16px;
    padding: 10px 0;
    animation-name: dropdown-animate;
    animation-duration: 0.2s;
    animation-fill-mode: both;
    background: linear-gradient(90deg, rgba(26, 29, 33, 0.91) 0%, rgba(26, 29, 33, 0.9) 100%);
    border: 1.8px solid rgba(255, 255, 255, 0.26);
    box-shadow: 0 8px 40px 0 rgba(0, 0, 0, 0.5);
    background-color: #2c2f33;
    transition: box-shadow 0.2s ease, border-color 0.2s ease;
    margin-right: 1rem !important;
}

.dropdown-item {
    color: #e8e9e9;
    padding: 12px 15px;
    font-size: 14px;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-decoration: none;
    display: block;
}

.dropdown-item-contact {
    color: #e8e9e9;
    padding: 12px 15px;
    font-size: 14px;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-decoration: none;
    display: block;
}

    .dropdown-item-contact:hover,
    .dropdown-item-contact:focus {
        border: 1px solid rgba(255, 255, 255, 0.26);
        border-radius: 8px;
        background: linear-gradient(90deg, rgba(27, 32, 32, 0.76) 0%, rgba(69, 74, 74, 0.38) 100%);
        color: #e8e9e9;
        transition: background-color 0.3s ease, color 0.3s ease;
    }

.dropdown-item:hover,
.dropdown-item:focus {
    border: 1px solid rgba(255, 255, 255, 0.26);
    border-radius: 8px;
    background: linear-gradient(90deg, rgba(27, 32, 32, 0.76) 0%, rgba(69, 74, 74, 0.38) 100%);
    color: #e8e9e9;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.custom-btn {
    color: #686b6e;
    border-color: #007bff;
}

.custom-select {
    background-color: #343a40;
    color: #686b6e;
    border-color: #007bff;
}

.custom-btn-success {
    color: #686b6e;
    border-color: #28a745;
}

/* Optional: Media queries or additional custom styles */

/*--------------------------------------------------------------
# Page Title
--------------------------------------------------------------*/
.pagetitle {
    margin-bottom: 10px;
}

    .pagetitle h1 {
        font-size: 24px;
        margin-bottom: 0;
        /* font-weight: 600; */
        color: #012970;
    }

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 99999;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    transition: all 0.4s;
}

    .back-to-top i {
        font-size: 24px;
        color: #fff;
        line-height: 0;
    }

    .back-to-top:hover {
        background: linear-gradient(90deg, rgba(27, 32, 32, 0.76) 0%, rgba(69, 74, 74, 0.38) 100%);
        color: #fff;
    }

    .back-to-top.active {
        visibility: visible;
        opacity: 1;
    }

/*--------------------------------------------------------------
# Override some default Bootstrap stylings
--------------------------------------------------------------*/
/* Dropdown menus */

.dropdown-menu .dropdown-header,
.dropdown-menu .dropdown-footer {
    text-align: center;
    font-size: 15px;
    padding: 10px 25px;
}

    .dropdown-menu .dropdown-footer a {
        color: #444444;
        text-decoration: underline;
    }

        .dropdown-menu .dropdown-footer a:hover {
            text-decoration: none;
        }

.dropdown-menu .dropdown-divider {
    color: #a5c5fe;
    margin: 0;
}

.dropdown-menu .dropdown-item {
    font-size: 14px;
    padding: 12px 15px;
    transition: 0.3s;
}

    .dropdown-menu .dropdown-item i {
        margin-right: 10px;
        font-size: 18px;
        line-height: 0;
    }


@media (min-width: 768px) {
    .dropdown-menu-arrow::before {
        content: "";
        width: 13px;
        height: 13px;
        background: #fff;
        position: absolute;
        top: -7px;
        right: 20px;
        transform: rotate(45deg);
        border-top: 1px solid #eaedf1;
        border-left: 1px solid #eaedf1;
    }
}

@keyframes dropdown-animate {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

    0% {
        opacity: 0;
    }
}

/* Light Backgrounds */
.bg-primary-light {
    background-color: #cfe2ff;
    border-color: #cfe2ff;
}

.bg-secondary-light {
    background-color: #e2e3e5;
    border-color: #e2e3e5;
}

.bg-success-light {
    background-color: #d1e7dd;
    border-color: #d1e7dd;
}

.bg-danger-light {
    background-color: #f8d7da;
    border-color: #f8d7da;
}

.bg-warning-light {
    background-color: #fff3cd;
    border-color: #fff3cd;
}

.bg-info-light {
    background-color: #cff4fc;
    border-color: #cff4fc;
}

.bg-dark-light {
    background-color: #d3d3d4;
    border-color: #d3d3d4;
}

/* Card */
.card {
    background-color: #0d0f10;
    margin-bottom: 18px;
    border: none;
    border-radius: 20px;
}

.card-header,
.card-footer {
    border-color: #131619;
    background-color: #fff;
    color: #798eb3;
    padding: 15px;
}

.card-title {
    padding: 20px 0 15px 0;
    font-size: 18px;
    font-weight: 500;
    color: #012970;
    font-family: "Poppins", sans-serif;
}

    .card-title span {
        color: #899bbd;
        font-size: 14px;
        font-weight: 400;
    }

.card-body {
    padding: 0 20px 20px 20px;
    background-color: #0d0f10;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-img-overlay {
    background-color: rgba(255, 255, 255, 0.6);
}

/* Alerts */
.alert-heading {
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
}

/* Close Button */
.btn-close {
    background-size: 25%;
}

    .btn-close:focus {
        outline: 0;
        box-shadow: none;
    }

/* Accordion */
.accordion-item {
    border: 1px solid #ebeef4;
}

.accordion-button {
    outline: 0;
    /* Ensure no outline for all states */
    box-shadow: none;
    /* Remove box shadow for all states */
}

    .accordion-button:focus {
        outline: 0;
        box-shadow: none;
    }


    .accordion-button:not(.collapsed) {
        color: inherit !;
        /* Reset color to default */
        background-color: inherit !important;
        /* Reset background color to default */
        box-shadow: none;
        /* Remove box shadow */
    }

.accordion-flush .accordion-button {
    padding: 15px 0;
    background: none;
    border: 0;
}

    .accordion-flush .accordion-button:not(.collapsed) {
        box-shadow: 0px;
        /* border: 0px; */
        background-color: inherit !important;
        /* Reset background color to default */
        color: #FFFFFF;
    }

.accordion-flush .accordion-body {
    padding: 0 0 15px 0;
    color: #3e4f6f;
    font-size: 15px;
}

/* Breadcrumbs */
.breadcrumb {
    font-size: 14px;
    font-family: "Nunito", sans-serif;
    color: #899bbd;
    /* font-weight: 600; */
}

    .breadcrumb a {
        color: #899bbd;
        transition: 0.3s;
    }

        .breadcrumb a:hover {
            color: #51678f;
        }

    .breadcrumb .breadcrumb-item::before {
        color: #899bbd;
    }

    .breadcrumb .active {
        color: #51678f;
        /* font-weight: 600; */
    }

/* Bordered Tabs */
.nav-tabs-bordered {
    border-bottom: 0px solid #ebeef4;
}

    .nav-tabs-bordered .nav-link {
        margin-bottom: -2px;
        border: none;
        color: #2c384e;
    }

        .nav-tabs-bordered .nav-link:hover,
        .nav-tabs-bordered .nav-link:focus {
            color: #e8e9e9;
        }

        .nav-tabs-bordered .nav-link.active {
            background-color: #0d0f10;
            color: #e8e9e9;
            border-bottom: 2px solid #b6f09c;
        }

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.logo {
    line-height: 1;
}

@media (min-width: 1200px) {
    .logo {
        width: 280px;
    }
}

.logo img {
    max-height: 26px;
    margin-right: 6px;
}

.logo span {
    font-size: 26px;
    font-weight: 700;
    color: #012970;
    font-family: "Nunito", sans-serif;
}

.header {
    transition: all 0.5s;
    z-index: 997;
    height: 60px;
    box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
    background-color: #fff;
    padding-left: 20px;
}

.toggle-sidebar-btn {
    visibility: visible;
    opacity: 1;
    border-radius: 12px;
    padding: 23px;
    width: 40px;
    height: 40px;
    transition: all 0.4s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(25 29 33);
    border-radius: 6px;
}

    .toggle-sidebar-btn i {
        font-size: 24px;
        color: #fff;
    }

    .toggle-sidebar-btn:hover {
        background: linear-gradient(90deg, rgba(27, 32, 32, 0.76) 0%, rgba(69, 74, 74, 0.38) 100%);
        color: #fff;
    }

@media (max-width: 1440px) {
    .toggle-sidebar-btn {
        top: 12px;
        right: 12px;
        border-radius: 12px;
        width: 40px;
        height: 40px;
    }
}

.header .search-bar {
    min-width: 360px;
    padding: 0 20px;
}

@media (max-width: 1199px) {
    .header .search-bar {
        position: fixed;
        top: 50px;
        left: 0;
        right: 0;
        padding: 20px;
        box-shadow: 0px 0px 15px 0px rgba(1, 41, 112, 0.1);
        background: white;
        z-index: 9999;
        transition: 0.3s;
        visibility: hidden;
        opacity: 0;
    }

    .header .search-bar-show {
        top: 60px;
        visibility: visible;
        opacity: 1;
    }
}

.header .search-form {
    width: 100%;
}

    .header .search-form input {
        border: 0;
        font-size: 14px;
        /* color: #012970; */
        border: 1px solid rgba(1, 41, 112, 0.2);
        padding: 7px 38px 7px 8px;
        border-radius: 3px;
        transition: 0.3s;
        width: 100%;
    }

        .header .search-form input:focus,
        .header .search-form input:hover {
            outline: none;
            box-shadow: 0 0 10px 0 rgba(1, 41, 112, 0.15);
            border: 1px solid rgba(1, 41, 112, 0.3);
        }

    .header .search-form button {
        border: 0;
        padding: 0;
        margin-left: -30px;
        background: none;
    }

        .header .search-form button i {
            color: #012970;
        }

/*--------------------------------------------------------------
# Header Nav
--------------------------------------------------------------*/
.header-nav ul {
    list-style: none;
}

.header-nav > ul {
    margin: 0;
    padding: 0;
}

.header-nav .nav-icon {
    font-size: 22px;
    color: #012970;
    margin-right: 25px;
    position: relative;
}

.header-nav .nav-profile {
    color: #012970;
}

    .header-nav .nav-profile img {
        max-height: 36px;
    }

    .header-nav .nav-profile span {
        font-size: 14px;
        /* font-weight: 600; */
    }

.header-nav .badge-number {
    position: absolute;
    inset: -2px -5px auto auto;
    font-weight: normal;
    font-size: 12px;
    padding: 3px 6px;
}

.header-nav .notifications {
    inset: 8px -15px auto auto !important;
}

    .header-nav .notifications .notification-item {
        display: flex;
        align-items: center;
        padding: 15px 10px;
        transition: 0.3s;
    }

        .header-nav .notifications .notification-item i {
            margin: 0 20px 0 10px;
            font-size: 24px;
        }

        .header-nav .notifications .notification-item h4 {
            font-size: 16px;
            /* font-weight: 600; */
            margin-bottom: 5px;
        }

        .header-nav .notifications .notification-item p {
            font-size: 13px;
            margin-bottom: 3px;
            color: #919191;
        }

        .header-nav .notifications .notification-item:hover {
            /* background-color: #f6f9ff; */
        }

.header-nav .messages {
    inset: 8px -15px auto auto !important;
}

    .header-nav .messages .message-item {
        padding: 15px 10px;
        transition: 0.3s;
    }

        .header-nav .messages .message-item a {
            display: flex;
        }

        .header-nav .messages .message-item img {
            margin: 0 20px 0 10px;
            max-height: 40px;
        }

        .header-nav .messages .message-item h4 {
            font-size: 16px;
            /* font-weight: 600; */
            margin-bottom: 5px;
            color: #444444;
        }

        .header-nav .messages .message-item p {
            font-size: 13px;
            margin-bottom: 3px;
            color: #919191;
        }

        .header-nav .messages .message-item:hover {
            /* background-color: #f6f9ff; */
        }

.header-nav .profile {
    min-width: 240px;
    padding-bottom: 0;
    top: 8px !important;
}

    .header-nav .profile .dropdown-header h6 {
        font-size: 18px;
        margin-bottom: 0;
        /* font-weight: 600; */
        color: #444444;
    }

    .header-nav .profile .dropdown-header span {
        font-size: 14px;
    }

    .header-nav .profile .dropdown-item {
        font-size: 14px;
        padding: 10px 15px;
        transition: 0.3s;
    }

        .header-nav .profile .dropdown-item i {
            margin-right: 10px;
            font-size: 18px;
            line-height: 0;
        }

        .header-nav .profile .dropdown-item:hover {
            /* background-color: #f6f9ff; */
        }

/*--------------------------------------------------------------
# Sidebar
--------------------------------------------------------------*/

.toggle-sidebar-container {
    position: fixed;
    top: 20px;
    left: 270px;
    /* Adjust next to expanded sidebar */
    width: 40px;
    height: 40px;
    background-color: #343a40;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    z-index: 1001;
    transition: left 0.3s ease;
}

.sidebar.collapsed + .toggle-sidebar-container {
    left: 90px;
    /* Adjust next to collapsed sidebar */
}

.toggle-sidebar-container i {
    font-size: 20px;
    color: #fff;
    transition: transform 0.3s ease;
}

.sidebar.collapsed + .toggle-sidebar-container i {
    transform: rotate(180deg);
}

/* Sidebar styles (retain your existing ones and integrate collapsing behavior) */
.sidebar.collapsed {
    width: 80px;
}

    .sidebar.collapsed .sidebar-nav .nav-link span {
        display: none;
    }

    .sidebar.collapsed .sidebar-nav .nav-link {
        justify-content: center;
        padding: 10px;
    }

        .sidebar.collapsed .sidebar-nav .nav-link i {
            font-size: 20px;
        }

        .sidebar.collapsed .sidebar-nav .nav-link button {
            display: none;
            /* Hide Join button in collapsed state */
        }

.sidebar {
    transition: width 0.3s ease-in-out;
    position: fixed;
    top: 10px;
    left: 10px;
    bottom: 10px;
    width: 280px;
    z-index: 996;
    padding: 15px;
    overflow-y: auto;
    scrollbar-width: none;
    scrollbar-color: #aab7cf transparent;
    background-color: #0d0f10;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@media (max-width: 1199px) {
    .sidebar {
        left: -300px;
    }
}

.sidebar::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #fff;
}

.sidebar::-webkit-scrollbar-thumb {
    background-color: #aab7cf;
}

@media (min-width: 1200px) {

    #main,
    #footer {
        margin-left: 300px;
    }

    .sidebar.collapsed + .toggle-sidebar-container {
        left: -300px;
    }

    .toggle-sidebar #main,
    .toggle-sidebar #footer {
        margin-left: 0;
    }
}

@media (max-width: 1199px) {
    .toggle-sidebar .sidebar {
        left: 0;
    }
}

@media (min-width: 1200px) {

    .toggle-sidebar #main,
    .toggle-sidebar #footer {
        margin-left: 0;
    }

    .toggle-sidebar .sidebar {
        left: -300px;
    }
}

.sidebar-nav {
    padding: 0;
    margin: 0;
    list-style: none;
}

    .sidebar-nav li {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    .sidebar-nav .nav-item {
        margin-bottom: 8px;
        height: 48px;
    }

    .sidebar-nav .nav-heading {
        font-size: 12px;
        text-transform: uppercase;
        color: #686b6e;
        /* font-weight: 600; */
        margin: 24px 8px 24px 8px;
    }

.nav-heading {
    font-size: 11px;
    text-transform: uppercase;
    color: #686b6e;
    /* font-weight: 600; */
    margin: 10px 0 5px 15px;
}

.sidebar-nav .nav-link {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #e8e9e9;
    transition: 0.3;
    background: linear-gradient(115deg, rgba(215, 237, 237, 0.21) 0%, rgba(204, 235, 235, 0.03) 100%);
    padding: 16px;
    border-radius: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

    .sidebar-nav .nav-link i {
        font-size: 14px;
        margin-right: 10px;
        color: #686b6e !important;
    }

    .sidebar-nav .nav-link.collapsed {
        color: #e8e9e9;
        background: none;
        /* Remove background for collapsed links */
        box-shadow: none;
        /* Remove shadow for collapsed links */
    }

        .sidebar-nav .nav-link.collapsed i {
            color: #848888c7;
        }

    .sidebar-nav .nav-link:hover {
        background: linear-gradient(115deg, rgba(215, 237, 237, 0.075) 0%, rgba(204, 235, 235, 0) 100%);
    }

        .sidebar-nav .nav-link:hover i {
            color: #848888c7;
        }

    .sidebar-nav .nav-link .bi-chevron-down {
        margin-right: 0;
        transition: transform 0.2s ease-in-out;
    }

    .sidebar-nav .nav-link:not(.collapsed) .bi-chevron-down {
        transform: rotate(180deg);
    }

.sidebar-nav .nav-content {
    padding: 5px 0 0 0;
    margin: 0;
    list-style: none;
}

    .sidebar-nav .nav-content a {
        display: flex;
        align-items: center;
        font-size: 14px;
        /* font-weight: 600; */
        color: #012970;
        transition: 0.3;
        padding: 10px 0 10px 40px;
        transition: 0.3s;
    }

        .sidebar-nav .nav-content a i {
            font-size: 6px;
            margin-right: 8px;
            line-height: 0;
            border-radius: 50%;
        }

        .sidebar-nav .nav-content a:hover,
        .sidebar-nav .nav-content a.active {
            color: #0d0f10;
            background-color: #ffffff;
            border-radius: 8px;
        }

            .sidebar-nav .nav-content a.active i {
                color: #0d0f10 !important;
                /* Ensure text color is applied */
                background-color: #ffffff !important;
                /* Ensure background color is applied */
                border-radius: 8px;
            }

/*--------------------------------------------------------------
# Dashboard
--------------------------------------------------------------*/
/* Filter dropdown */
.dashboard .filter {
    position: absolute;
    right: 0px;
    top: 15px;
}

    .dashboard .filter .icon {
        color: #aab7cf;
        padding-right: 20px;
        padding-bottom: 5px;
        transition: 0.3s;
        font-size: 16px;
    }

        .dashboard .filter .icon:hover,
        .dashboard .filter .icon:focus {
            color: #4154f1;
        }

    .dashboard .filter .dropdown-header {
        padding: 8px 15px;
    }

        .dashboard .filter .dropdown-header h6 {
            text-transform: uppercase;
            font-size: 14px;
            /* font-weight: 600; */
            letter-spacing: 1px;
            color: #aab7cf;
            margin-bottom: 0;
            padding: 0;
        }

    .dashboard .filter .dropdown-item {
        padding: 8px 15px;
    }

/* Info Cards */
.dashboard .info-card {
    padding-bottom: 10px;
}

    .dashboard .info-card h6 {
        font-size: 28px;
        color: #012970;
        font-weight: 700;
        margin: 0;
        padding: 0;
    }

.dashboard .card-icon {
    font-size: 32px;
    line-height: 0;
    width: 64px;
    height: 64px;
    flex-shrink: 0;
    flex-grow: 0;
}

.dashboard .sales-card .card-icon {
    color: #4154f1;
    background: #f6f6fe;
}

.dashboard .revenue-card .card-icon {
    color: #2eca6a;
    background: #e0f8e9;
}

.dashboard .customers-card .card-icon {
    color: #ff771d;
    background: #ffecdf;
}

/* Activity */
.dashboard .activity {
    font-size: 14px;
}

    .dashboard .activity .activity-item .activite-label {
        color: #888;
        position: relative;
        flex-shrink: 0;
        flex-grow: 0;
        min-width: 64px;
    }

        .dashboard .activity .activity-item .activite-label::before {
            content: "";
            position: absolute;
            right: -11px;
            width: 4px;
            top: 0;
            bottom: 0;
            background-color: #eceefe;
        }

    .dashboard .activity .activity-item .activity-badge {
        margin-top: 3px;
        z-index: 1;
        font-size: 11px;
        line-height: 0;
        border-radius: 50%;
        flex-shrink: 0;
        border: 3px solid #fff;
        flex-grow: 0;
    }

    .dashboard .activity .activity-item .activity-content {
        padding-left: 10px;
        padding-bottom: 20px;
    }

    .dashboard .activity .activity-item:first-child .activite-label::before {
        top: 5px;
    }

    .dashboard .activity .activity-item:last-child .activity-content {
        padding-bottom: 0;
    }

/* News & Updates */
.dashboard .news .post-item + .post-item {
    margin-top: 15px;
}

.dashboard .news img {
    width: 80px;
    float: left;
    border-radius: 5px;
}

.dashboard .news h4 {
    font-size: 15px;
    margin-left: 95px;
    font-weight: bold;
    margin-bottom: 5px;
}

    .dashboard .news h4 a {
        color: #012970;
        transition: 0.3s;
    }

        .dashboard .news h4 a:hover {
            color: #4154f1;
        }

.dashboard .news p {
    font-size: 14px;
    color: #777777;
    margin-left: 95px;
}

/* Recent Sales */
.dashboard .recent-sales {
    font-size: 14px;
}

    .dashboard .recent-sales .table thead {
        background: #f6f6fe;
    }

        .dashboard .recent-sales .table thead th {
            border: 0;
        }

    .dashboard .recent-sales .dataTable-top {
        padding: 0 0 10px 0;
    }

    .dashboard .recent-sales .dataTable-bottom {
        padding: 10px 0 0 0;
    }

/* Top Selling */
.dashboard .top-selling {
    font-size: 14px;
}

    .dashboard .top-selling .table thead {
        background: #f6f6fe;
    }

        .dashboard .top-selling .table thead th {
            border: 0;
        }

    .dashboard .top-selling .table tbody td {
        vertical-align: middle;
    }

    .dashboard .top-selling img {
        border-radius: 5px;
        max-width: 60px;
    }

/*--------------------------------------------------------------
# Icons list page
--------------------------------------------------------------*/
.iconslist {
    display: grid;
    max-width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 1.25rem;
    padding-top: 15px;
}

    .iconslist .icon {
        background-color: #fff;
        border-radius: 0.25rem;
        text-align: center;
        color: #012970;
        padding: 15px 0;
    }

    .iconslist i {
        margin: 0.25rem;
        font-size: 2.5rem;
    }

    .iconslist .label {
        font-family: var(--bs-font-monospace);
        display: inline-block;
        width: 100%;
        overflow: hidden;
        padding: 0.25rem;
        font-size: 12px;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: #666;
    }

/*--------------------------------------------------------------
# Profie Page
--------------------------------------------------------------*/
.profile .profile-card img {
    max-width: 120px;
}

.profile .profile-card h2 {
    font-size: 24px;
    font-weight: 700;
    color: #2c384e;
    margin: 10px 0 0 0;
}

.profile .profile-card h3 {
    font-size: 18px;
}

.profile .profile-card .social-links a {
    font-size: 20px;
    display: inline-block;
    color: rgba(1, 41, 112, 0.5);
    line-height: 0;
    margin-right: 10px;
    transition: 0.3s;
}

    .profile .profile-card .social-links a:hover {
        color: #012970;
    }

/* .row {
  margin-left: -20px;
} */

.profile .profile-overview .row {
    /* margin-bottom: 20px; */
    font-size: 15px;
}

.profile .profile-overview .card-title {
    color: #012970;
}

.profile .profile-overview .label {
    /* font-weight: 600; */
    color: rgba(1, 41, 112, 0.6);
}

.profile .profile-edit label {
    /* font-weight: 600; */
    color: rgba(1, 41, 112, 0.6);
}

.profile .profile-edit img {
    max-width: 120px;
}

/*--------------------------------------------------------------
# F.A.Q Page
--------------------------------------------------------------*/
.faq .basic h6 {
    font-size: 18px;
    /* font-weight: 600; */
    color: #4154f1;
}

.faq .basic p {
    color: #6980aa;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info-box {
    padding: 28px 30px;
}

    .contact .info-box i {
        font-size: 38px;
        line-height: 0;
        color: #4154f1;
    }

    .contact .info-box h3 {
        font-size: 20px;
        color: #012970;
        font-weight: 700;
        margin: 20px 0 10px 0;
    }

    .contact .info-box p {
        padding: 0;
        line-height: 24px;
        font-size: 14px;
        margin-bottom: 0;
    }

.contact .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    margin-bottom: 24px;
    /* font-weight: 600; */
}

.contact .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    margin-bottom: 24px;
    /* font-weight: 600; */
}

.contact .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
    margin-bottom: 24px;
}

    .contact .php-email-form .loading:before {
        content: "";
        display: inline-block;
        border-radius: 50%;
        width: 24px;
        height: 24px;
        margin: 0 10px -6px 0;
        border: 3px solid #18d26e;
        border-top-color: #eee;
        animation: animate-loading 1s linear infinite;
    }

.contact .php-email-form input,
.contact .php-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    border-radius: 0;
}

    .contact .php-email-form input:focus,
    .contact .php-email-form textarea:focus {
        /* border-color: #4154f1; */
    }

.contact .php-email-form input {
    padding: 10px 15px;
}

.contact .php-email-form textarea {
    padding: 12px 15px;
}

.contact .php-email-form button[type="submit"] {
    background: #4154f1;
    border: 0;
    padding: 10px 30px;
    color: #fff;
    transition: 0.4s;
    border-radius: 4px;
}

    .contact .php-email-form button[type="submit"]:hover {
        background: #5969f3;
    }

@keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*--------------------------------------------------------------
# Error 404
--------------------------------------------------------------*/
.error-404 {
    padding: 30px;
}

    .error-404 h1 {
        font-size: 180px;
        font-weight: 700;
        color: #4154f1;
        margin-bottom: 0;
        line-height: 150px;
    }

    .error-404 h2 {
        font-size: 24px;
        font-weight: 700;
        color: #012970;
        margin-bottom: 30px;
    }

    .error-404 .btn {
        background: #51678f;
        color: #fff;
        padding: 8px 30px;
    }

        .error-404 .btn:hover {
            background: #3e4f6f;
        }

@media (min-width: 992px) {
    .error-404 img {
        max-width: 50%;
    }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

.footer {
    padding: 20px 0;
    font-size: 14px;
    transition: all 0.3s;
    border-top: 1px solid #cddfff;
}

    .footer .copyright {
        text-align: center;
        color: #012970;
    }

    .footer .credits {
        padding-top: 5px;
        text-align: center;
        font-size: 13px;
        color: #012970;
    }
